@media (max-width:992px) {
    .banner{
        margin-block-start: 35px;
    }
    .achievement-item{
        border: none !important;
        padding: 30px;
    }
    .form-1{
        margin-block-start: 30px;
    }
    .video-sect h2{
        font-size: 185px !important;
    }
}

@media (max-width:768px) {
    .video-sect h2{
        font-size: 120px !important;
    }
}

@media (max-width:576px) {
    .video-sect h2{
        font-size: 90px !important;
    }
}

@media (max-width:320px) {
    .video-sect h2{
        font-size: 50px !important;
    }
}
