@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

*{
    list-style: none;
}

:root{
    --primary-color : #4baf47;
    --inter-font : "Inter", sans-serif;
    --paragraph-color : #303030;
}

.mt-65{
    margin-block-start: 65px;
}

.header-section{
    padding: 16px 0;
    background-color: var(--primary-color);
}

.offcanvas{
    background-color: #0e0e0e;
}

.offcanvas-body{
    padding: 30px;
}

.side-icon{
    cursor: pointer;
}

.cancel-icon{
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.content{
    font-family: var(--inter-font);
    text-align: justify;
    line-height: 30px;
}

.icon-color{
    color: var(--primary-color);
}

.icon-txt{
    font-family: var(--inter-font);
}

.menu li a{
    font-family: var(--inter-font);
    text-decoration: none;
}

.call-icon i{
    transform: rotate(40deg);
}

.social-media a{
    width: 40px;
    height: 40px;
    color: var(--primary-color);
}

/* banner-section */
.banner-sect{
    background-image: url(https://gramentheme.com/html/foresty/assets/images/bg/banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-block-start: 130px;
}

.banner-leaf{
    position: absolute;
    top: -25px;
    left: 0;
}
.banner-img{
    background-image: url(../images/building.jpg);
    background-repeat: no-repeat;
}

.banner-subtitle{
    color: var(--primary-color);
    font-family: var(--inter-font);
    letter-spacing: 2px;
}

.banner-title{
    font-size: 60px;
    font-family: var(--inter-font);
}

.banner-title span{
    color: var(--primary-color);
}

.banner-btn{
    padding: 15px 20px;
    background: none;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    color: var(--primary-color);
}

.banner-desc{
    font-family: var(--inter-font);
}

.mt-30{
    margin-top: 30px !important;
}

/* about-us-section */
.about-us-sect{
    padding: 130px 65px;
}
.about-leaf img{
    animation: 10s fall linear infinite;
}
.about-leaf{
    right: 9%;
}
@keyframes fall{
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    25% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        transform: translateY(150%);
        opacity: 0;
    }
}
.section-sub-title h5{
    color: var(--primary-color);
    font-family: var(--inter-font);
}

.section-title h2{
    font-family: var(--inter-font);
}

.section-content p{
    font-family: var(--inter-font);
    color: var(--paragraph-color);
}

.about-name{
    font-family: var(--inter-font);
}

.about-name span{
    color: var(--primary-color);
    font-family: var(--inter-font);
}

.experience-title{
    font-family: var(--inter-font);
}

.value{
    color: var(--primary-color);
    font-family: var(--inter-font);
}

.progress-bar{
    background-color: var(--primary-color);
}

/* video-section */
.video-sect{
    background-image: url(../images/video-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 130px 0;
}

.video-text h2{
    color: transparent;
    opacity: 20%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 200px;
    line-height: 300px;
    font-family: var(--inter-font);
}

/* work-section */
.work-sect{
    padding: 130px 0;
}